<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <title>Index</title>
</head>

<body>
    <div id="heading">
        <h1>Welcome to Game</h1>

    </div>

    <div>
        <h2>Register</h2>
    </div>
    <form action="{% url 'index1' %}" method="post">
        {% csrf_token %}
        {{form}}
        <div id="btn-submit"><button type="submit">Submit</button></div>
    </form>
    {% if UserAlreadyExist is not None %}
    {{UserAlreadyExist}}
    {% endif %}
</body>

</html>